## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.86,70,100,5.06,overcast clouds
1,1,Mehran,IR,33.1222,46.1646,42.28,45,9,7.58,clear sky
2,2,Ray,IN,23.6833,85.0500,52.57,46,3,2.01,clear sky
3,3,Ngunguru,NZ,-35.6167,174.5000,72.16,70,96,16.28,overcast clouds
4,4,Geraldton,AU,-28.7667,114.6000,72.01,83,100,9.22,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.86,70,100,5.06,overcast clouds
6,6,Sena Madureira,BR,-9.0656,-68.6569,76.03,91,71,2.28,broken clouds
7,7,Hilo,US,19.7297,-155.0900,77.11,61,20,8.05,few clouds
11,11,Mersing,MY,2.4312,103.8405,78.71,83,96,5.75,overcast clouds
16,16,Pemba,MZ,-12.9740,40.5178,78.66,75,1,1.77,clear sky
21,21,Samarai,PG,-10.6167,150.6667,82.78,72,100,10.27,overcast clouds
29,29,Sabang,ID,5.8933,95.3214,81.27,76,88,9.48,overcast clouds
30,30,Kapaa,US,22.0752,-159.3190,79.48,66,0,1.01,clear sky
31,31,Acapulco,MX,16.8634,-99.8901,84.02,65,20,5.75,few clouds
34,34,Isangel,VU,-19.5500,169.2667,82.51,94,100,4.61,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                171
City                   171
Country                171
Lat                    171
Lng                    171
Max Temp               171
Humidity               171
Cloudiness             171
Wind Speed             171
Current Description    171
dtype: int64

In [77]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_new_df = preferred_cities_df.dropna()
preferred_cities_new_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,76.86,70,100,5.06,overcast clouds
6,6,Sena Madureira,BR,-9.0656,-68.6569,76.03,91,71,2.28,broken clouds
7,7,Hilo,US,19.7297,-155.0900,77.11,61,20,8.05,few clouds
11,11,Mersing,MY,2.4312,103.8405,78.71,83,96,5.75,overcast clouds
16,16,Pemba,MZ,-12.9740,40.5178,78.66,75,1,1.77,clear sky
21,21,Samarai,PG,-10.6167,150.6667,82.78,72,100,10.27,overcast clouds
29,29,Sabang,ID,5.8933,95.3214,81.27,76,88,9.48,overcast clouds
30,30,Kapaa,US,22.0752,-159.3190,79.48,66,0,1.01,clear sky
31,31,Acapulco,MX,16.8634,-99.8901,84.02,65,20,5.75,few clouds
34,34,Isangel,VU,-19.5500,169.2667,82.51,94,100,4.61,overcast clouds

In [79]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.86,overcast clouds,-23.1203,-134.9692,
6,Sena Madureira,BR,76.03,broken clouds,-9.0656,-68.6569,
7,Hilo,US,77.11,few clouds,19.7297,-155.0900,
11,Mersing,MY,78.71,overcast clouds,2.4312,103.8405,
16,Pemba,MZ,78.66,clear sky,-12.9740,40.5178,
21,Samarai,PG,82.78,overcast clouds,-10.6167,150.6667,
29,Sabang,ID,81.27,overcast clouds,5.8933,95.3214,
30,Kapaa,US,79.48,clear sky,22.0752,-159.3190,
31,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,
34,Isangel,VU,82.51,overcast clouds,-19.5500,169.2667,

In [80]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [94]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.86,overcast clouds,-23.1203,-134.9692,People ThankYou
6,Sena Madureira,BR,76.03,broken clouds,-9.0656,-68.6569,Hotel Central
7,Hilo,US,77.11,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Mersing,MY,78.71,overcast clouds,2.4312,103.8405,Timotel Hotel
16,Pemba,MZ,78.66,clear sky,-12.9740,40.5178,Guesthouse Samotina
...,...,...,...,...,...,...,...
673,Coahuayana,MX,81.95,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
679,Leopoldina,BR,78.10,overcast clouds,-21.5319,-42.6431,Palace Hotel
681,Gamba,GA,77.67,overcast clouds,-2.6500,10.0000,
686,Monte Alegre,BR,75.07,overcast clouds,-2.0078,-54.0692,Hotel Shekinah
687,Aitape,PG,77.61,overcast clouds,-3.1374,142.3475,

In [128]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "")]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,76.86,overcast clouds,-23.1203,-134.9692,People ThankYou
6,Sena Madureira,BR,76.03,broken clouds,-9.0656,-68.6569,Hotel Central
7,Hilo,US,77.11,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Mersing,MY,78.71,overcast clouds,2.4312,103.8405,Timotel Hotel
16,Pemba,MZ,78.66,clear sky,-12.9740,40.5178,Guesthouse Samotina
...,...,...,...,...,...,...,...
669,Male,MV,82.35,scattered clouds,4.1748,73.5089,Hotel Octave Maldives
671,Ciamis,ID,75.22,overcast clouds,-7.3257,108.3534,The Priangan Boutique Hotel @ Yos Sudarso
673,Coahuayana,MX,81.95,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
679,Leopoldina,BR,78.10,overcast clouds,-21.5319,-42.6431,Palace Hotel
686,Monte Alegre,BR,75.07,overcast clouds,-2.0078,-54.0692,Hotel Shekinah

In [129]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [151]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [153]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=clean_hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))